body {
  background-image: url(../static/img/bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
  margin: 0;
  z-index: 1; }

header {
  background-image: -webkit-linear-gradient(276deg, rgba(15, 126, 161, 0.5) 55%, transparent 56%);
  background-image: -o-linear-gradient(276deg, rgba(15, 126, 161, 0.5) 55%, transparent 56%);
  background-image: linear-gradient(174deg, rgba(15, 126, 161, 0.5) 55%, transparent 56%);
  height: 220px;
  z-index: 50;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  header .social {
    display: block;
    position: absolute;
    top: 50px;
    right: 30%; }
    header .social a {
      color: #EFEFEF;
      font-size: 1.5em;
      padding: .4em; }

header a {
  text-decoration: none;
  color: #EFEFEF;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  header a:hover {
    color: tomato; }

#menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none; }

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #EFEFEF;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
      -ms-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%; }

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
      -ms-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #EFEFEF; }

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
      -ms-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2); }

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
      -ms-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px); }

#menu {
  position: absolute;
  width: 150px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: transparent;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  padding: 10px 0;
  font-size: 22px; }

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none; }

section {
  background-image: -webkit-linear-gradient(276deg, transparent 57vh, rgba(15, 126, 161, 0.5) 58vh);
  background-image: -o-linear-gradient(276deg, transparent 57vh, rgba(15, 126, 161, 0.5) 58vh);
  background-image: linear-gradient(174deg, transparent 57vh, rgba(15, 126, 161, 0.5) 58vh);
  height: auto;
  z-index: 50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

#sec > .container:first-child {
  margin-top: 30%; }

.container {
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left; }

.post:nth-child(3n+1) {
  margin-top: 40px; }

.post:nth-child(3n+2) {
  margin-top: -10px; }

.post:nth-child(3n+3) {
  margin-top: -59px; }

.post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 75%;
  margin: 20px; }

.post-img img {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 16%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 16%, 100% 0, 100% 100%, 0% 100%); }

.text {
  background-color: rgba(239, 239, 239, 0.8);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0; }
  .text .post-header {
    font-weight: 600;
    margin-bottom: 0; }
  .text .time {
    font-weight: light;
    font-size: 10px;
    color: gray;
    margin-top: 0; }

.post-read {
  background-image: -webkit-linear-gradient(276deg, #131313 57%, transparent 60%);
  background-image: -o-linear-gradient(276deg, #131313 57%, transparent 60%);
  background-image: linear-gradient(174deg, #131313 57%, transparent 60%);
  position: relative;
  padding: 30px; }

.readp {
  color: #EFEFEF;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-transform: uppercase; }
  .readp:hover {
    color: tomato; }

.post-read:hover {
  background-image: -webkit-linear-gradient(276deg, rgba(2, 55, 82, 0.9) 57%, transparent 60%);
  background-image: -o-linear-gradient(276deg, rgba(2, 55, 82, 0.9) 57%, transparent 60%);
  background-image: linear-gradient(174deg, rgba(2, 55, 82, 0.9) 57%, transparent 60%); }

footer {
  background-image: -webkit-linear-gradient(275deg, rgba(15, 126, 161, 0.5) 35%, rgba(2, 55, 82, 0.9) 36%);
  background-image: -o-linear-gradient(275deg, rgba(15, 126, 161, 0.5) 35%, rgba(2, 55, 82, 0.9) 36%);
  background-image: linear-gradient(175deg, rgba(15, 126, 161, 0.5) 35%, rgba(2, 55, 82, 0.9) 36%);
  height: 220px;
  z-index: 50; }
  footer p {
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 13%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    font-weight: regular; }
